<footer class="bs-footer" role="contentinfo">
  <div class="container">

    <p>Made with <a href="https://github.com/assemble/assemble" target="_blank">Assemble</a>, the static site generator for Node.js, Grunt.js and Yeoman.</p>
    {{#if production}}
      {{> social-buttons }}
    {{/if}}
    <hr>

    <p>Source code intended to be released under the <a href="{{ site.license.url }}" target="_blank">{{ site.license.type }}&nbsp;</a> License.</p>
  </div>
</footer>