---
layout: default.hbs
---
<div id="editor_holder"></div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="{{assets}}/js/jsoneditor.js"></script>
<script>
// Set the default CSS theme and icon library globally
JSONEditor.defaults.theme = 'bootstrap3';
JSONEditor.defaults.iconlib = 'bootstrap3';
</script>

{{> body  }}
