--- layout: default.hbs ---

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{assets}}/jquery/jquery.js"></script>
<script>
  createEditor = function(options, fn) {
    $(document).ready(function() {
      // Create the editor
      editor = new JSONEditor(document.getElementById('editor_holder'), options);
      fn(editor);
    });
  }
</script>

<div class="btn-group">
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">File
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#" data-toggle="modal" data-target="#file_open">Open file...</a>
    </li>
    <li><a href="#" id="action_save_file">Save file...</a>
    </li>
  </ul>
</div>

{{> body }}

<div id="editor_holder"></div>

<!-- Modal File Open dialog -->
<div class="modal fade" id="file_open" tabindex="-1" role="dialog" aria-labelledby="fileOpenLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="fileOpenLabel">Open JSON file</h4>
      </div>
      <div class="modal-body">
        Drop file here to open
      </div>
    </div>
  </div>
</div>
<script src="{{assets}}/json-editor/jsoneditor.js"></script>
<script>
  // Set the default CSS theme and icon library globally
  JSONEditor.defaults.theme = 'bootstrap3';
  JSONEditor.defaults.iconlib = 'bootstrap3';

  // Call with the options object (primarily including the schema), as well
  // as a function that will receive the editor object.
  createEditor = function(options, fn) {
    $(document).ready(function() {
      // Create the editor
      editor = new JSONEditor(document.getElementById('editor_holder'), options);
      fn(editor);
    });
  }
</script>

<script src="{{assets}}/filedrop/filedrop.js"></script>
<script>
  $(document).ready(function() {
    fd.jQuery();
    $('#file_open')
      .filedrop({
        input: false // Set up an HTML5-only dropzone
      })
      .on('fdsend', function(e, files) {
        $.each(files, function(i, file) {
          file.readData(function(str) {
              editor.setValue(JSON.parse(str));
              editor.filename = file.name;
              console.log("Loaded " + file.name);
              $('#file_open').modal('hide');
            },
            function() {
              alert('Problem reading this file.');
            },
            'text'
          );
        });
      });

  });
</script>
